<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTP_HOST} ^karamba.ao$ [NC,OR]
    RewriteCond %{HTTP_HOST} ^www.karamba.ao$
    RewriteCond %{REQUEST_URI} !public/
    RewriteRule (.*) /public/$1 [L]
</IfModule>
